@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/forms";
@theme {
  --color-primary: #063547;
  --font-mulish: "Mulish", sans-serif;
  --breakpoint-xs: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
